@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+KR&display=swap');
.header-logo {
  text-align: center;
  color: azure;
  /* font-family: 'Orelega One', cursive; */
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Fredoka One', cursive;
  font-size: 1.8em;
}

.header-img {
  height: 2em;
  width: 2em;
}

.storyline {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 auto;
  width: 96%;
  height: 6.8em;
  background-color: #e0cfbc; /*#ccb69e;*/
  font-size: 1.2em;
  /* text-align: center; */
}

.character-text {
  height: 4.8em;
}

.btn {
  text-align: right;
}

.select-box {
  font-family: 'Noto Sans KR', sans-serif;
}

.text-area {
  font-family: 'Noto Sans KR', sans-serif;
}

.footer-text {
  color: #6c6357;
  font-size: 1em;
}