@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+KR&display=swap');

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFStardust';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.header-logo {
  text-align: center;
  color: azure;
  /* font-family: 'Orelega One', cursive; */
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Fredoka One', cursive;
  font-size: 1.8em;
}
/* 
.header-img {
  height: 2em;
  width: 2em;
} */

.start-text {
  font-size: 1.4em;
  font-family: 'PFStardust';
  color: #6c6357;
  text-shadow: 0.05em 0.05em 0 #e9c242;
  text-align: center;
}

.storyline {
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'DungGeunMo';
  margin: 0 auto;
  padding-top: 1em;
  width: 96%;

  height: 12em;
  /* height: 10em; */
  /* background-color: #e0cfbc; #ccb69e; */
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
}

.story-left-bar {
  height: 11em;
  float: left;
}

.story-right-bar {
  height: 11em;
  float: right;
}

.character-text {
  /* height: 4.8em; */
  height: 6.8em;
}

.next-btn {
  text-align: right;
}

.select-box {
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'DungGeunMo';
  background-color: white;
  border: 1px solid #6c6357;
  padding: 1em;
  width: 96%;
  margin: 1em auto;
}

.ant-radio-wrapper {
  box-sizing: border-box;
  padding: 0;
  color: rgba(0,0,0,.85);
  font-size: 16px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-flex;
  align-items: baseline;
  margin: 0 8px 0 0;
  cursor: pointer;
}

.select-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.text-area {
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'DungGeunMo';
}

.result-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  font-family: 'DungGeunMo';

}

.twitter-share {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-place {
  width: 9em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px dashed #afdd64;
  text-align: center;
}

.share-btn {
  width: 3em;
  margin-top: 1em;
}

.footer {
  width: 100%;
  /* position: absolute; */
  bottom: 0;
}

.footer-text {
  color: #6c6357;
  font-size: 1em;
}

.ant-modal-mask {
  /* background: transparent; */
  pointer-events: none;
}
.ant-modal-wrap {
  pointer-events: none;
}
.ant-modal {
  pointer-events: all;
}

.content-wrapper {
  height: 100%;
}


.character-name {
  font-size: 1em;
}
.character-dialog {
  font-size: 0.88em;
}

/*  게임 이미지 wrapper div */
.game-image-wrapper {
  margin: 0 auto;
  text-align: center;
  padding-top: 1em;
}

/*  게임 이미지 wrapper div */
.loading-spinner-wrapper {
  /* margin: 0 auto; */
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  padding-top: 1em;
  height: 15em;
}
.loading-spinner {
  /* margin: 0 auto; */

  vertical-align: middle;

}

/*  웹으로 플레이 했을 때*/
.game-image{
  width: 54%;
}
.story-text {
  width: 100%;
  padding: 1em;
  background-color: #e0e0e0;
  border: 7px solid #3b3b3b;
}

.story-text {
  width: 100%;
  padding: 1em;
  background-color: #e0e0e0;
  border: 7px solid #3b3b3b;
}


/*  태블릿으로 플레이 했을 때*/
@media all and (max-width: 1024px) {
  .game-image{
    width: 58%;
  }
}

/*  소형태블릿 & 모바일로 플레이 했을 때*/
@media all and (max-width: 768px) {
  .game-image{
    width: 90%;
  }

  .game-image-wrapper {
    padding-top: 0.6em;
  }

  .story-left-bar {
    height: 12em;
  }

  .story-right-bar {
    height: 12em;
  }

  .story-text {
    height: 12em;
  }
}


.ant-radio-wrapper {
  font-size: 0.9em;
}