@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+KR&display=swap');

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.header-logo {
  text-align: center;
  color: azure;
  /* font-family: 'Orelega One', cursive; */
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Fredoka One', cursive;
  font-size: 1.8em;
}

.header-img {
  height: 2em;
  width: 2em;
}

.storyline {
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'DungGeunMo';
  margin: 0 auto;
  padding-top: 1em;
  width: 96%;
  height: 11em;
  /* background-color: #e0cfbc; #ccb69e; */
  font-size: 1.2em;
  /* text-align: center; */

  display: flex;
  flex-direction: row;
}



.character-text {
  height: 4.8em;
}

.btn {
  text-align: right;
}

.select-box {
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'DungGeunMo';
  background-color: white;
  border: 1px solid #6c6357;
  padding: 1em;
  width: 96%;
  margin: 1em auto;
}

.select-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-area {
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'DungGeunMo';
}

.footer {
  width: 100%;
  /* position: absolute; */
  bottom: 0;
}

.footer-text {
  color: #6c6357;
  font-size: 1em;
}

.ant-modal-mask {
  /* background: transparent; */
  pointer-events: none;
}
.ant-modal-wrap {
  pointer-events: none;
}
.ant-modal {
  pointer-events: all;
}

.content-wrapper {
  height: 100%;
}

/*  게임 이미지 wrapper div */
.game-image-wrapper {
  margin: 0 auto;
  text-align: center;
  padding-top: 1em;
}

/*  웹으로 플레이 했을 때*/
.game-image{
  width: 54%;
}
.story-text {
  width: 100%;
  padding: 1em;
  background-color: #e0e0e0;
  border: 7px solid #3b3b3b;
}


/*  태블릿으로 플레이 했을 때*/
@media all and (max-width: 1024px) {
  .game-image{
    width: 90%;
  }
}

/*  소형태블릿 & 모바일로 플레이 했을 때*/
@media all and (max-width: 768px) {
  .game-image{
    width: 96%;
  }

  .game-image-wrapper {
    padding-top: 0.6em;
  }
}